In [46]:
import numpy as np
import pandas as pd
data = pd.read_csv('salaries.csv')

In [ ]:
data.head()

In [5]:
data["BasePay"]

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
5         118602.00
6          92492.01
7         256576.96
8         176932.64
9         285262.00
10        194999.39
11         99722.00
12        294580.02
13        271329.03
14        174872.64
15        198778.01
16        268604.57
17        140546.87
18        168692.63
19        257510.59
20        257510.48
21        257510.44
22        140546.88
23        168692.63
24        140546.86
25        256470.41
26         92080.80
27        168692.59
28        261717.60
29        246225.60
            ...
148624         0.00
148625         0.00
148626         0.00
148627         0.00
148628         0.00
148629         0.00
148630         0.00
148631         0.00
148632         0.00
148633         0.00
148634         0.00
148635         0.00
148636         0.00
148637         0.00
148638         0.00
148639         0.00
148640         0.00
148641         0.00
148642         0.00
148643         0.00
148644         0.00
148645         0.00
148646          NaN
148647         0.00
148648         0.00
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, dtype: float64

In [6]:
data["BasePay"].std()

42764.63549525958

In [16]:
data["OvertimePay"].max()

245131.88

In [25]:
data[data["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [26]:
data[data["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPay"]

24    270324.91
Name: TotalPay, dtype: float64

In [29]:
data[data["TotalPayBenefits"] == data["TotalPayBenefits"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [30]:
data[data["TotalPayBenefits"] == data["TotalPayBenefits"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [54]:
data.groupby("Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [62]:
data["JobTitle"].nunique()

2159

In [190]:
data["JobTitle"].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [30]:
#1
vcounts = data[data["Year"] == 2013]["JobTitle"].value_counts()
vcounts[vcounts==1].count()

#2
sum(data[data["Year"] == 2013]["JobTitle"].value_counts() == 1)

202

In [43]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [51]:
data[data["JobTitle"].apply(lambda x: chief_string(x))]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254027.63,0.00,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218930.76,4078.00,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233867.60,0.00,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
50,51,KIRK RICHARDSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,58084.86,20477.16,NaN,247254.61,247254.61,2011,NaN,San Francisco,NaN
55,56,KEVIN CASHMAN,DEPUTY CHIEF III (POLICE DEPARTMENT),226206.80,0.00,15004.37,NaN,241211.17,241211.17,2011,NaN,San Francisco,NaN
57,58,MARK KEARNEY,ASSISTANT DEPUTY CHIEF II,217410.80,0.00,22608.30,NaN,240019.10,240019.10,2011,NaN,San Francisco,NaN
63,64,CHARLES CRANE,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,54342.28,15444.38,NaN,238479.28,238479.28,2011,NaN,San Francisco,NaN
66,67,ROBERT POSTEL,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",177914.76,36644.57,22785.08,NaN,237344.41,237344.41,2011,NaN,San Francisco,NaN
68,69,THOMAS SHAWYER,DEPUTY CHIEF III (POLICE DEPARTMENT),122974.00,0.00,113226.92,NaN,236200.92,236200.92,2011,NaN,San Francisco,NaN
71,72,RICHARD BUSALACCHI,"BATTALION CHIEF, (FIRE DEPARTMENT)",92782.61,5477.62,135684.25,NaN,233944.48,233944.48,2011,NaN,San Francisco,NaN
76,77,KEVIN BURKE,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,16876.74,40258.39,NaN,232007.77,232007.77,2011,NaN,San Francisco,NaN
79,80,EDUARDO GONZALEZ,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,35096.74,27802.89,NaN,231592.25,231592.25,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120012,120013,Mark A Naddy,Chief Stationary Engineer,99736.06,450.62,5934.48,36955.12,106121.16,143076.28,2014,NaN,San Francisco,NaN
121045,121046,Rolando C Lopez,Chief Stationary Engineer,91172.93,5517.86,5300.90,34959.56,101991.69,136951.25,2014,NaN,San Francisco,NaN
122123,122124,Nerivaldo C Santos,Chief Fire Alarm Dispatcher,90665.02,7235.84,70.00,33692.92,97970.86,131663.78,2014,NaN,San Francisco,NaN
122170,122171,James M Ryan,Chief Surveyor,95288.05,396.83,0.00,35673.70,95684.88,131358.58,2014,NaN,San Francisco,NaN
122574,122575,Loretta M Cecconi,Chief Dietitian,94694.30,0.00,200.00,34558.44,94894.30,129452.74,2014,NaN,San Francisco,NaN
123030,123031,Michael G Gay,Chief Stationary Engineer,81476.01,5806.87,17427.93,22612.24,104710.81,127323.05,2014,NaN,San Francisco,NaN
124548,124549,Paul H Mabry,Chief Surveyor,88421.29,0.00,0.00,31060.87,88421.29,119482.16,2014,NaN,San Francisco,NaN
124647,124648,Mark Y Antonio,Chief Clerk,82230.07,0.00,3397.31,33432.00,85627.38,119059.38,2014,NaN,San Francisco,NaN
125497,125498,Artie L L Kelly,Chief Clerk,82230.01,0.00,1156.44,32076.41,83386.45,115462.86,2014,NaN,San Francisco,NaN
125525,125526,Tuti I Suardana,Chief Clerk,82230.03,0.00,1040.00,32063.05,83270.03,115333.08,2014,NaN,San Francisco,NaN
125670,125671,Sylvia N Thai,Chief Clerk,82230.04,0.00,624.00,31970.56,82854.04,114824.60,2014,NaN,San Francisco,NaN
125673,125674,Deborah L Brown,Chief Clerk,82230.01,0.00,624.00,31970.56,82854.01,114824.57,2014,NaN,San Francisco,NaN
125861,125862,Cuong Quach,Chief Clerk,82299.89,0.00,0.00,31861.18,82299.89,114161.07,2014,NaN,San Francisco,NaN
125893,125894,Peter Aviles,Chief Clerk,82230.02,0.00,0.00,31834.29,82230.02,114064.31,2014,NaN,San Francisco,NaN
125907,125908,Shahin P Shaikh,Chief Clerk,82195.25,0.00,0.00,31820.96,82195.25,114016.21,2014,NaN,San Francisco,NaN
126041,126042,Donald P Margolis,Assistant Chief Attorney 1,62720.01,0.00,33084.71,17560.74,95804.72,113365.46,2014,NaN,San Francisco,NaN
127965,127966,Sylvia M Selinger,Chief Clerk,75606.53,0.00,0.00,31027.57,75606.53,106634.10,2014,NaN,San Francisco,NaN
128030,128031,Janice Gragasin,Chief Clerk,75968.03,0.00,0.00,30478.04,75968.03,106446.07,2014,NaN,San Francisco,NaN
131266,131267,Cheryl L Coleman,Chief Clerk,68089.84,0.00,40.00,26349.83,68129.84,94479.67,2014,NaN,San Francisco,NaN
131377,131378,Ann M Castillo,Chief Telephone Operator,65117.43,0.00,624.60,28244.66,65742.03,93986.69,2014,NaN,San Francisco,NaN
132799,132800,Judith A Boyajian,Assistant Chief Attorney 1,88352.39,0.00,575.00,0.00,88927.39,88927.39,2014,NaN,San Francisco,NaN
133842,133843,Jennifer L Novak,Chief Clerk,61327.71,0.00,696.96,23793.25,62024.67,85817.92,2014,NaN,San Francisco,NaN
137010,137011,Ryan L Butterfield,Chief Preparator,46950.77,0.00,0.00,20659.10,46950.77,67609.87,2014,NaN,San Francisco,NaN
137168,137169,Tony E Durkee,Chief Surveyor,65432.94,0.00,0.00,654.38,65432.94,66087.32,2014,NaN,San Francisco,NaN
137553,137554,Paula Jesson,Assistant Chief Attorney 1,62095.32,0.00,431.25,0.00,62526.57,62526.57,2014,NaN,San Francisco,NaN
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,NaN
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,NaN
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,NaN
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,NaN
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,NaN

In [52]:
data['title_len'] = data['JobTitle'].apply(len)

In [54]:
data[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000